
.add-case {
    width: 100% !important;
    background-color: #dc5b28 !important;
    color: white !important;
    font-size: 25px !important;
  }
  
  .add-case:hover {
    background-color: #dc5b28 !important;
    color: white !important;
  }
  .custom-file-input {
    white-space: nowrap;
  }
  
  .ReactModal__Overlay {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
    width: 50%;
    margin: auto;
    height: 70%;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

.addCaseHeading {
  color: #dc5b28;
}

.submitButton {
  color: white !important;
  background-color: #dc5b28 !important;
}